{% extends 'client_dashboard/base.html' %}
{% load static %}
{% block title %}Great Guardian Investment Ltd Management System{% endblock %}

{% block content %}
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://images.pexels.com/photos/414612/pexels-photo-414612.jpeg');
            background-size: cover;
            background-position: center;
            color: white;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
        }

    </style>

<body>
    <div class="login-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}" style="color: #fff;">Register here</a></p>
    </div>

{% endblock %}
