{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Surveyors</title>
{% endblock %}

{% block extra_css %}
    <!-- Custom styles for this page -->
    <link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Surveyors List</h1>
    <form
            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                        <input type="text" class="form-control bg-light border-0 small" placeholder="Filter surveyors by username..."
                               aria-label="Search" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Register Surveyor</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Join Date</th>
                        <th>View Details</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>User Name</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Status</th>
                        <th>Join Date</th>
                        <th>View Details</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    {% for surveyor in surveyors %}
                        <tr>
                            <td>{{ surveyor.username }}</td>
                            <td>{{ surveyor.firstname }}</td>
                            <td>{{ surveyor.lastname }}</td>
                            <td>{{ surveyor.email }}</td>
                            <td>{{ surveyor.status }}</td>
                            <td>
                                <a href="{% url 'surveyor' surveyor.id %}" class="btn btn-outline-dark btn-sm">Surveyor</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <!-- Page level plugins -->
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>
{% endblock %}